<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>

        <header th:replace="~{layout/plantilla :: header}"/>

        <main class="container">
            <section th:replace="~{ventas/fragmentos :: filtros}"/>
            <section th:replace="~{ventas/fragmentos :: listadoVentas}"/>

            <footer th:replace="~{layout/plantilla :: footer}"/>      
        </main>
    </body>
</html>